<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
        <tr>ID</tr>
        <tr>Name</tr>`
        <tr>Price</tr>
    </th>
    <% data.array.forEach(e=> { %>
        <td>
            <tr><% e.id %></tr>
            <tr><% e.name %></tr>
            <tr><% e.price %></tr>
        </td>
  <%  }) %>
    </table>
</body>
</html>